################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Graph/bin/Debug/netcoreapp5.0
/Graph/obj
/NoWeightGraphTests/bin/Debug/netcoreapp5.0
/NoWeightGraphTests/obj
